.popup__close {
  background: no-repeat center/100% url(../../../images/close-icon.svg);
  border: 0;
  min-width: 32px;
  min-height: 32px;
  transition: opacity .3s linear;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40px, -40px);
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    min-width: 20px;
    min-height: 20px;
    transform: translateY(-36px);
  }
}