.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 27px 32px;
  }
}